*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px ;
    color: #1c1e21;
}
img{
    max-width: 100%;
    height: auto;
    width: 300px;
}
#body_area{
    background-color:#F2F4F7 ;
}
.container{
    width: 980px;
    padding: 20px;
    margin: 0 auto;
}
#content_area{
   
    display: flex;
    justify-content: space-between;
    padding-top: 72px 0 112px;
    align-items: center;
}

.left_side{
    flex-basis: 540px;
}
.left_side h2{
    color:#333 ;
    font-size: 36px;
    font-weight: normal;
    padding-left:30px ;
    text-align: ce;
}
.left_side p{
    padding-left: 30px;
    color: #606770;
    margin-top: 5px;
}
.form_area{
    flex-basis: 396px;
    text-align: center;
}
.form_area form{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.form_area input {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    padding: 10px ;
    font-size: 14px 16px;
    border-radius: 6px;
    padding: 14px 17px;
    margin-bottom: 15px;
}
.form_area input[type="button"] {
    background-color: #0866ff;
    border: 1px solid #0866ff;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.form_area button[type="button"] {
    background-color: #42b72a;
    border: 1px solid #0866ff;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 16px;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.form_area a{
    color: #0866ff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;

}
.form_area a:hover{
 
    text-decoration: underline;

}
.form_area p{
   margin-top: 20px;
   color: #1c1e21;
   font-size: 14px;
}
.form_area p a{
    color: #1c1e21;
}
#footer_area{
background-color: white;
 padding:25px 0 ;
 align-items: center;
}